<section class="list">
    <div class="rules">
        <span class="fl">聚巷客栈会员卡--{{card.shop.shopName}}</span>
    </div>
    <div class="card-detail" style="width: 100%;">
    <div width="100%">
        <center><div id="qrcode" style="padding-top: 10px;"></div></center>
    </div><br>
    <canvas id="barcode" width="80%"></canvas>
    </div>


</section>
<section class="detail" style="margin-top: 1px;">
    <h2 class="card-title">
        <i class="icon-card"></i>
        <span>会员卡详情</span>
    </h2>
    <table class="member">
        <tr>
            <td align="right" class="left">店铺名称：</td>
            <td align="left">{{card.shop.shopName}}</td>
        </tr>
        <tr>
            <td align="right" class="left">卡号：</td>
            <td align="left">{{card.cardNo}}</td>
        </tr>
        <tr>
            <td align="right" class="left">余额：</td>
            <td align="left">{{card.balance}}</td>
        </tr>
        <tr>
            <td align="right" class="left">指纹支付：</td>
            <td align="left">未开通</td>
        </tr>
        <tr>
            <td align="right" class="left">人脸支付：</td>
            <td align="left">未开通</td>
        </tr>
    </table>
    <center><input type="button" class="button" style="height: .8rem;background-color: #ff6c29;color: #fff;margin-top:20px;margin-bottom:30px;width:6rem;border-radius: 30px;font-size: .34rem;text-align: center;line-height: .5rem;border: 1px solid #eee;"  ng-click="recharge();" value="充值"/></center>
</section>
<footer class="footer">
    <ul>
        <li ng-click="go_index();">
            <i class="icon icon-home"></i>
            <p>首页</p>
        </li>
        <li class="active" ng-click="getCard();">
            <i class="icon icon-pay1"></i>
            <p>我的会员卡</p>
        </li>
        <li ng-click="person_info();">
            <i class="icon icon-personal"></i>
            <p>个人信息</p>
        </li>
    </ul>
</footer>