<section class="list">
    <div class="rules">
        <span class="fl">充值</span>
    </div>
</section>
<section class="personal-data">
    <ul>
        <li>
            <p class="name">店铺</p>
            <p class="value">{{card.shop.shopName}}</p>
        </li>
        <li>
            <p class="name">卡号</p>
            <p class="value">{{card.cardNo}}</p>
        </li>
        <li>
            <p class="name">金额</p>
            <p class="value"><input type="text" value="" ng-model="money"/></p>
        </li>
    </ul>
    <input type="button" class="button" ng-click="doCharge();" value="充值"/>
</section>
<footer class="footer">
    <ul>
        <li ng-click="go_index();">
            <i class="icon icon-home"></i>
            <p>首页</p>
        </li>
        <li class="active" ng-click="getCard();">
            <i class="icon icon-pay1"></i>
            <p>我的会员卡</p>
        </li>
        <li ng-click="person_info();">
            <i class="icon icon-personal"></i>
            <p>个人信息</p>
        </li>
    </ul>
</footer>