<section class="list">
    <div class="rules">
        <span class="fl">账户信息校验</span>
    </div>
</section>
<section class="personal-data">
    <ul>
        <li>
            <p class="name">手机号</p>
            <p class="value">
                <input type="text" value="" style="width: 3rem"/>
                <input class="check_button" type="button" value="获取验证码"/>
            </p>
        </li>
        <li>
            <p class="name">验证码</p>
            <p class="value"><input type="text" value=""/></p>
        </li>
    </ul>
    <input type="button" class="button" ng-click="checkClick();" value="提交"/>
</section>