<section class="list">
    <div class="rules">
        <span class="fl">消费记录</span>
    </div>
</section>
<section class="list">
    <ul>
        <li ng-repeat="rec in rec_list">
            <div class="text">
                <p class="card">{{rec.shop.shopName}}会员卡</p>
                <p class="time">{{rec.cardNo}}</p>
                <p class="type">[消费]</p>
                <p class="time">{{rec.createTime}}</p>
            </div>
            <p class="data">-{{rec.payFee}}</p>
        </li>
    </ul>
    <div class="no-more">已经没有更多了</div>
</section>
<footer class="footer">
    <ul>
        <li class="active" ng-click="go_index();">
            <i class="icon icon-home1"></i>
            <p>首页</p>
        </li>
        <li ng-click="getCard();">
            <i class="icon icon-pay"></i>
            <p>我的会员卡</p>
        </li>
        <li ng-click="person_info();">
            <i class="icon icon-personal"></i>
            <p>个人信息</p>
        </li>
    </ul>
</footer>