<section class="top-card">
    <div class="card-warp"><img src="/c/images/top-card.png" /></div>
    <div class="head">
        <img src="/c/images/head.jpg" />
        <p>{{user.person.nickname}}</p>
    </div>
    <ul class="card-list">
        <li style="border-right: 1px solid #f0f0f0">
            <i class="icon icon-card"></i>会员卡</br>
            <p>{{user.card_list.length}}</p>
        </li>
        <li>
            <i class="icon icon-integration"></i>积分</br>
            <p>{{user.jifen}}</p>
        </li>
    </ul>
</section>
<section class="main-list">
    <ul>
        <li ng-click="getCard();">
            <i class="icon icon-card"></i>
            <span>我的会员卡</span>
            <i class="more icon-more"></i>
        </li>
        <li ng-click="rechargeList();">
            <i class="icon icon-record"></i>
            <span>充值记录</span>
            <i class="more icon-more"></i>
        </li>
        <li ng-click="consumelist();">
            <i class="icon icon-payment"></i>
            <span>消费记录</span>
            <i class="more icon-more"></i>
        </li>
        <!--<li>-->
            <!--<i class="icon icon-consumption"></i>-->
            <!--<span>支付设置</span>-->
            <!--<i class="more icon-more"></i>-->
        <!--</li>-->
        <li ng-click="point();">
            <i class="icon icon-integration"></i>
            <span>积分记录</span>
            <i class="more icon-more"></i>
        </li>
    </ul>
</section>
<footer class="footer">
    <ul>
        <li class="active">
            <i class="icon icon-home1"></i>
            <p>首页</p>
        </li>
        <li>
            <i class="icon icon-pay"></i>
            <p>我的会员卡</p>
        </li>
        <li>
            <i class="icon icon-personal"></i>
            <p>个人信息</p>
        </li>
    </ul>
</footer>
