<section class="list">
    <div class="rules">
        <span class="fl">个人信息</span>
    </div>
</section>
<section class="personal-data">
    <ul>
        <li>
            <p class="name">姓名</p>
            <p class="value">{{user.person.realName}}</p>
        </li>
        <li>
            <p class="name">手机号</p>
            <p class="value">{{user.userPhone}}</p>
        </li>
    </ul>

</section>
<footer class="footer">
    <ul>
        <li ng-click="go_index();">
            <i class="icon icon-home"></i>
            <p>首页</p>
        </li>
        <li>
            <i class="icon icon-pay" ng-click="getCard();"></i>
            <p>我的会员卡</p>
        </li>
        <li class="active" >
            <i class="icon icon-personal1"></i>
            <p>个人信息</p>
        </li>
    </ul>
</footer>