<div class="layui-tab layui-tab-brief main-layout-tab" lay-filter="tab" lay-allowClose="true">
	<ul class="layui-tab-title">
		<li class="layui-this welcome">礼品卡兑换</li>
	</ul>
	<div class="layui-tab-content">
		<div class="layui-tab-item layui-show" style="background: #e8eeef;">
			<div class="wrap-container">
				<form class="layui-form" style="width: 90%;padding: 10px 0 0 20px;">
					<div class="layui-form-item">
						<div class="layui-inline">
							<input style="height: 35px;" type="text" name="title" required lay-verify="required" placeholder="请输入卡号" autocomplete="off" class="layui-input" ng-model="cardNo">
						</div>
						<button class="layui-btn layui-btn-normal" lay-submit="search" ng-click="getByCardNo();">搜索</button>
					</div>
					<ul class="layui-tab-title">
						<li class="layui-this">卡信息</li>
					</ul>
					<div class="layui-form-item ">
						<label class="layui-form-label">卡号：</label>
						<div class="pt15">
							{{cardBean.cardNo}}
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">所属店铺：</label>
						<div class="pt15">{{cardBean.shop.shopName}}</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">卡状态：</label>
						<div class="pt15">
							<span ng-class="{true:'layui-btn layui-btn-mini layui-btn-normal',false:'layui-btn layui-btn-mini layui-btn-danger'}[cardBean.status==1]">{{cardBean.status | card_status}}</span>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">创建时间：</label>
						<div class="pt15">
							{{cardBean.createTime}}
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn layui-btn-danger" ng-click="convert();">兑换</button>
							<button class="layui-btn layui-btn-primary" ng-click="back();">返回</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
