<div class="wrap-container">
	<form class="layui-form" style="width: 90%;padding-top: 20px;">
			<div class="layui-form-item">
				<label class="layui-form-label">会员卡号：</label>
				<div class="layui-input-block">
					<input style="height: 35px;" type="text" name="title" required lay-verify="required" placeholder="请输入会员卡号" autocomplete="off" class="layui-input" ng-model="cardNo">
				</div>

			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">充值金额：</label>
				<div class="layui-input-block">
					<input style="height: 35px;" type="text" name="title" required lay-verify="required" placeholder="请输入充值金额" autocomplete="off" class="layui-input" ng-model="fee">
				</div>

			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn layui-btn-danger" ng-click="addRecharge();">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary" ng-click="resetRecharge();">重置</button>
				</div>
			</div>
		</form>
</div>