<div class="layui-tab layui-tab-brief main-layout-tab" lay-filter="tab" lay-allowClose="true">
    <ul class="layui-tab-title">
        <li class="layui-this welcome">后台主页</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show" style="background: #e8eeef;">
            <div class="wrap-container welcome-container">
                <div class="row">
                    <div class="welcome-left-container col-lg-12">
                        <div class="data-show">
                            <ul class="clearfix">
                                <li class="col-sm-3 col-md-3 col-xs-12">
                                    <a href="javascript:;" class="clearfix">
                                        <div class="f-l index-icon">
                                            <img src="/b/images/index-icon1.jpg" />
                                        </div>
                                        <div class="right-text-con">
                                            <p class="name">会员总数</p>
                                            <p><span class="color-org">{{userTotal}}</span></p>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-3 col-md-3 col-xs-12">
                                    <a href="javascript:;" class="clearfix">
                                        <div class="f-l index-icon">
                                            <img src="/b/images/index-icon2.jpg" />
                                        </div>
                                        <div class="right-text-con">
                                            <p class="name">充值总金额</p>
                                            <p><span class="color-org"><small>￥</small>{{rechargeFeeTotal}}</span></p>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-3 col-md-3 col-xs-12">
                                    <a href="javascript:;" class="clearfix">
                                        <div class="f-l index-icon">
                                            <img src="/b/images/index-icon3.jpg" />
                                        </div>
                                        <div class="right-text-con">
                                            <p class="name">今日消费</p>
                                            <p><span class="color-org"><small>￥</small>{{consumeFeeToday}}</span></p>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-3 col-md-3 col-xs-12">
                                    <a href="javascript:;" class="clearfix">
                                        <div class="index-icon4">
                                            <img src="/b/images/index-icon4.jpg" />
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--次数-->
                        <div class="col-xs-12 col-sm-12 col-md-6" style="padding-top: 15px">
                            <div class="server-panel panel panel-default">
                                <div class="panel-header"><span></span>消费金额排行</div>
                                <table class="layui-table welcometab" lay-skin="line">
                                    <colgroup>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                    </colgroup>
                                    <tbody>
                                    <tr ng-repeat="a in consumFeeList">
                                        <td>{{$index+1}}</td>
                                        <td class="table-center">{{a.realName}}</td>
                                        <td class="table-center">{{a.userPhone}}</td>
                                        <td class="table-center">￥{{a.payFee}}</td>
                                        <td class="table-center"><button class="layui-btn layui-btn-mini layui-btn-normal">会员卡</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6" style="padding-top: 15px">
                            <div class="server-panel panel panel-default">
                                <div class="panel-header"><span></span>消费次数排行</div>
                                <table class="layui-table welcometab" lay-skin="line">
                                    <colgroup>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                    </colgroup>
                                    <tbody>
                                    <tr ng-repeat="a in consumCountList">
                                        <td>{{$index+1}}</td>
                                        <td class="table-center">{{a.realName}}</td>
                                        <td class="table-center">{{a.userPhone}}</td>
                                        <td class="table-center">{{a.count}}次</td>
                                        <td class="table-center"><button class="layui-btn layui-btn-mini layui-btn-normal">会员卡</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12" style="padding-top: 15px">
                            <div class="server-panel panel panel-default">
                                <div class="panel-header"><span></span>充值金额排行</div>
                                <table class="layui-table welcometab" lay-skin="line">
                                    <colgroup>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                    </colgroup>
                                    <tbody>
                                    <tr ng-repeat="a in rechargeFeeList">
                                        <td>{{$index+1}}</td>
                                        <td class="table-center">{{a.realName}}</td>
                                        <td class="table-center">{{a.userPhone}}</td>
                                        <td class="table-center">￥{{a.payFee}}</td>
                                        <td class="table-center"><button class="layui-btn layui-btn-mini layui-btn-normal">会员卡</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


