<!DOCTYPE html>
<html class="iframe-h">
      <head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>网站后台管理模版</title>
		<link rel="stylesheet" type="text/css" href="../static/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/admin.css"/>
	</head>

	<body>
		<div class="wrap-container clearfix">
				<div class="column-content-detail">
					<form class="layui-form" action="">
						<div class="layui-form-item">
							<div class="layui-inline">
								<input type="text" name="title" required lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input">
							</div>
							<button class="layui-btn layui-btn-normal" lay-submit="search">搜索</button>
							<p class="layui-btn layui-btn-danger">会员卡充值</p>
						</div>
					</form>
					<div class="layui-form" id="table-list">
						<table class="layui-table" lay-even lay-skin="nob">
							<colgroup>
								<col>
								<col>
								<col>
								<col>
								<col>
								<col width="250">
							</colgroup>
							<thead>
								<tr>									
									<th class="table-center">姓名</th>
									<th class="table-center">手机号</th>
									<th class="table-center">充值时间</th>
									<th class="table-center">卡类型</th>
									<th class="table-center">充值金额</th>
									<th class="table-center">会员状态</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="table-center">玩具</td>
									<td class="table-center">15845623659</td>
									<td class="table-center">15845623659</td>
									<td class="table-center">15845623659</td>
									<td class="table-center">1989-10-14</td>
									<td class="table-center"><button class="layui-btn layui-btn-mini layui-btn-normal">正常</button></td>
								</tr>
								<tr>
									<td class="table-center">玩具</td>
									<td class="table-center">15845623659</td>
									<td class="table-center">15845623659</td>
									<td class="table-center">15845623659</td>
									<td class="table-center">1989-10-14</td>
									<td class="table-center"><button class="layui-btn layui-btn-mini layui-btn-danger">冻结</button></td>
								</tr>
							</tbody>
						</table>
						<div class="page-wrap">
							<ul class="pagination">
								<li class="disabled"><span>«</span></li>
								<li class="active"><span>1</span></li>
								<li>
									<a href="#">2</a>
								</li>
								<li>
									<a href="#">»</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
		</div>
		<script src="../static/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/common.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>