<div class="wrap-container clearfix">
	<div class="column-content-detail">
		<form class="layui-form" action="">
			<div class="layui-form-item">
				<div class="layui-inline">
					<input type="text" name="title" placeholder="请输入手机号" autocomplete="off" class="layui-input" ng-model="userPhone">
				</div>
				<button class="layui-btn layui-btn-normal" lay-submit="search" ng-click="getOnePageRecharge();">搜索</button>
				<p class="layui-btn layui-btn-danger" ng-click="addRechargeClick();">会员卡充值</p>
			</div>
		</form>
		<div class="layui-form" id="table-list">
			<table class="layui-table" lay-even lay-skin="nob">
				<colgroup>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col width="250">
				</colgroup>
				<thead>
					<tr>
						<th class="table-center">姓名</th>
						<th class="table-center">手机号</th>
						<th class="table-center">充值时间</th>
						<th class="table-center">卡类型</th>
						<th class="table-center">充值金额</th>
						<th class="table-center">会员状态</th>
					</tr>
				</thead>
				<tbody>

				<tr ng-repeat="a in rechargeList">
					<td class="table-center">{{a.fee}}</td>
					<td class="table-center">{{a.fee}}</td>
					<td class="table-center">{{a.createTime}}</td>
					<td class="table-center">{{a.fee}}</td>
					<td class="table-center">{{a.fee}}</td>
					<td class="table-center">{{a.userPhone}}</td>
					<!--
					<td class="table-center"><button ng-class="{true:'layui-btn layui-btn-mini layui-btn-normal',false:'layui-btn layui-btn-mini layui-btn-danger'}[a.status==1]">{{a.status | user_status}}</button></td>
					<td class="table-center">{{a.fee}}</td>
					<td class="table-center"><button ng-class="{true:'layui-btn layui-btn-mini layui-btn-normal',false:'layui-btn layui-btn-mini layui-btn-danger'}[a.status==1]">{{a.status | user_status}}</button></td>
					-->
				</tr>
				<tr>
					<td colspan="18">
						<uib-pagination  items-per-page="prePage" ng-change="getOnePageRecharge()" total-items="totalItems" ng-model="currentPage" max-size="maxSize" first-text="第一页" previous-text="上一页" next-text="下一页" last-text="最后页" boundary-links="true" boundary-link-numbers="true"></uib-pagination>
						共：{{totalItems}} 条
					</td>
				</tr>
				</tbody>
			</table>
			<div class="page-wrap">
				<ul class="pagination">
					<li class="disabled"><span>«</span></li>
					<li class="active"><span>1</span></li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">»</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>