<div class="wrap-container">
	<form class="layui-form" style="width: 90%;padding-top: 20px;">
		<div class="layui-form-item">
			<label class="layui-form-label">优惠名称：</label>
			<div class="layui-input-block">
				<input type="text" name="title" required lay-verify="required" placeholder="请输入优惠名称" autocomplete="off" class="layui-input" ng-model="discountBean.name" ng-value="discountBean.name">
			</div>

		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">优惠类型：</label>
			<div class="layui-input-block">
				<div>满送：满<input type="text" value="" ng-model="discountBean.fullMoney" ng-value="discountBean.fullMoney" class="input-yh"/>送<input type="text" value="" ng-model="discountBean.addMoney" ng-value="discountBean.addMoney" class="input-yh"/></div>
				<!--
				<div><input type="radio" name="cardType" checked>满送：满<input type="text" value="" ng-model="fullMoney" class="input-yh"/>送<input type="text" value="" ng-model="addMoney" class="input-yh"/></div>
				<div><input type="radio" name="cardType" >折扣：总价打<input type="text" value=""  class="input-yh"/>折</div>
				-->
			</div>

		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn layui-btn-danger" ng-click="updateDiscount();">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary" ng-click="resetDiscount();">重置</button>
			</div>
		</div>
	</form>
</div>