<div class="wrap-container">
	<form class="layui-form" style="width: 90%;padding-top: 20px;">
		<div class="layui-form-item">
			<label class="layui-form-label">新增管理员</label>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">手机号码：</label>
			<div class="layui-input-block">
				<input type="text" name="title" maxlength="11" ng-model="phone" required lay-verify="required" placeholder="请输入电话号" autocomplete="off" class="layui-input">
			</div>

		</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn layui-btn-danger" lay-submit lay-filter="formDemo" ng-click="addAccount();">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>
</div>