<!DOCTYPE html>
<html ng-app="adminApp">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>

frame
<div ui-view></div>
</body>
<script src="/angular/angular-1.7.3.js" type="text/javascript" charset="utf-8"></script>
<script src="/angular/angular-ui-router.js" type="text/javascript" charset="utf-8"></script>
<script src="/angular/ocLazyLoad.js" type="text/javascript" charset="utf-8"></script>
<script src="/a/controller/router.js" type="text/javascript" charset="utf-8"></script>
<script src="/a/controller/mainController.js" type="text/javascript" charset="utf-8"></script>
</html>
